
{{extend 'layout.html'}}

<h2>Previous couriers</h2>
<table class="table table-striped">
 
  <tr>
    <td> id </td>
    <td> roll </td>
    <td> type </td>
    <td> arrival_date </td>
    <td> email last sent </td>
    <td> address </td>
    <td>taken</td>
  </tr>
   {{for row in rows:}}
    <tr>
    <td><a href="{{=URL('show',args=row.id)}}">{{=row.id}}</a>  </td>
    <td> {{=row.roll}} </td>
    <td> {{=row.type_of_courier}}type </td>
    <td> {{=row.arrival_date}} </td>
    <td> {{=row.last_email_sent}} </td>
    <td> {{=row.address}} </td>
    <td>{{=row.taken}}</td>
    {{pass}}
  </tr>


</table>
